body {
    font-family: roboto;
    background-color: rgb(247, 247, 247);
}

#container-header {
    background-image: url('../assets/345-hd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar {
    background-color: rgba(193, 35, 145, .7) !important;
    /* justify-content: flex-end; */
}

#ul-navbar>li>a {
    color: white;
}

#title {
    text-align: center;
    /* background-color: white; */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); */
    background-color: rgba(51, 6, 38, 0.5) !important;
    color: antiquewhite;
    height: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#list {
    margin: auto;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    text-align: center;
}

#list-item {
    /* border: solid 1px gray;
    border-radius: 5px; */
}

#list {
    padding: 24px;
    overflow-y: auto;
}

.spin {
    width: 60px;
    margin: auto;
    height: 60px;
    border: solid 8px rgba(175, 33, 151, 0.712);
    ;
    border-top: solid 8px rgba(193, 35, 146, 0.055);
    border-bottom: solid 8px rgba(193, 35, 145, 0.055);
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

#response {
    margin: auto;
    width: 100%;
    /* overflow-y: auto; */
}

#footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 43, 46);
    height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(-360deg);
    }
}